# Ignore regenerable intermediate data
data/Part_2/processed/


# Ignore Quarto build caches
.quarto/

# Ignore configuration of interpreter
.vscode/

# Ignore R and Python cache/artifact files
.Rhistory
.RData
.Ruserdata
Rplots.pdf
__pycache__/
.ipynb_checkpoints/
