# Ignore raw and processed data
data/Part_2/processed/
codes/Part_2/
back-up.csv
test.R


# Before finishing the files
Reports/Report_2_Alejandro_Martinez.qmd
Reports/Report_2_Alejandro_Martinez.pdf

.quarto/

# Ignore configuration of interpreter
.vscode/

# Ignore R and Python cache files
.Rhistory
.RData
.Ruserdata
__pycache__/
.ipynb_checkpoints/