# Ignore raw and processed data
data/

.quarto/

# Ignore configuration of interpreter
.vscode/

# Ignore R and Python cache files
.Rhistory
.RData
.Ruserdata
__pycache__/
.ipynb_checkpoints/